{% extends "base.html" %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Oops!施工中!</h1>
        <p class="lead">新版的Yoki Security CTF platform，基于Django2.0.这是你没有玩过的船新版本</p>
    <p class="font-weight-normal">开发进度</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 20%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
    <div>
    <br>
        <h5>题包处</h5>
        {% for packageInfo in packageInfos %}
            <p>{{ packageInfo.package_name }}</p>
            <p>{{ packageInfo.package_content }}</p>
            <button class="btn btn-primary">{{ packageInfo.package_name }}<a href="#"></a></button>
        {% endfor %}
    </div>
{% endblock %}